
#livedesk-info {
    background-color: white;
}

.livedesk-text {
    padding-top: 10px;
    text-align: center;
}

.livedesk-popup {
    font-size: 12px;
}

.livedesk-popup-button {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.livedesk-pluginline {
    padding-left: 5px;
}

#livedesk-toolbar-wrap {
    position: relative;
}

#masterlayout {
    border: #b5cde4 1px solid;
    height: 800px;
    left: 20px;
    position: relative;
    top: 20px;
    width: 98%;
}

#livedesk-panel {
    background-color: white;
    height: 100%;
    width: 100%;
}

.livedesk-headerlogo {
   float: right;
   margin-right: 20px;
   margin-top: 0;
}

.livedesk-stat-table {
    border: 1px solid #e8e8e8;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

.livedesk-stat-table tr td {
    padding: 5px;
}

.livedesk-stat-table tr.header td {
    background-color: #555555;
    color: white;
}

#pluginlist-content {
     border: 1px solid #e8e8e8;
     border-radius: 7px 7px 7px 7px;
     height: 300px;
     overflow: auto;
     padding: 10px;
}

#pluginlist-content .course-div {
    border-bottom: 2px dotted #c8c8c8;
    margin-bottom: 5px;
}

#pluginlist-content-general {
    padding: 10px;
}

div[ida='dhxMainCont'] {
    overflow: auto !important;
    border: 0 !important;
}

div[ida='dhxMainCont'] #page-header {
    display: none;
}

div[ida='dhxMainCont'] #navcontainer {
    display: none;
}

div[ida='dhxMainCont'] .navbar {
    display: none;
}

.noty_text p {
    margin-bottom: 0;
    margin-top: 0;
}

.locked, locked p {
    color: #b30f0f;
    font-weight: bold;
}

.unseen, unseen p {
    opacity: 0.5;
}

.dimmed {
    opacity: 0.5;
}

.livedeskmenu {
    list-style: none outside none;
    padding-left: 10px;
}

.online_users {
    font-size: 12px;
}

.online_users.isme {
    color: #53Ca3e;
}

#livedesk-instances-table {
    margin: auto;
    width: 80%;
}

.livedesk-userlist {
    margin: 0;
}

.livedesk-notification-link,
.livedesk-notification-link:visited {
    color: #ffd9ae;
}

#blocks-livedesk-reply .commands {
    display: none;
}

#livedesk-masterlayout {
    height: 900px;
    padding-right: 10px;
}

#livedesk-postsgrid {
    border: #b5cde4 1px solid;
    height: 100%;
    position: relative;
    width: 100%;
    background-color: white;
}

#livedesk-onlineuserscount {
    height: 100%;
    width: 100%;
    background-color: white;
}

/* masks commands on reply post form */
.in-livedesk .forumpost .commands {
    display: none;
}