
<!-- block_livedesl/discardpopup -->
<div class="livedesk-popup">{{{discardbeforestr}}}</div>
<div class="livedesk-popup">
    {{discard_date}} <input id="discard_date" type="text" value="{{timecreated}}" />
</div>
<div class="livedesk-popup-button">
    <input id="discard_btn" type="button" value="{{confirmstr}}" />
</div>
<!-- /block_livedesl/discardpopup -->
